<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12"> 
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Alteração de Senha</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>

              <v-card-text v-if="!requested">
                <div class="mb-2">Para alterar a sua senha, pressione o botão <b>Enviar Código</b> para receber o 
                seu código de validação no email 
                <b>{{ $store.state.cognito.user.challengeParam.userAttributes.email }}</b>.</div>
                <v-btn block :loading="loading" color="primary" @click="sendCode()">Enviar Código</v-btn>
              </v-card-text>

              <v-card-text v-if="requested">
                <v-form>
                  <v-text-field v-model="newPass1" label="Senha"></v-text-field>
                  <v-text-field v-model="newPass2" label="Confirmação"></v-text-field>
                </v-form>
                <div class="red--text caption" v-if="errorMessage" v-text="errorMessage" />
              </v-card-text>
              <v-card-actions v-if="requested">
                <v-spacer></v-spacer>
                <v-btn color="primary" :disabled="!matchingPass" :loading="loading" block @click="changePass()">Alterar Senha</v-btn>
              </v-card-actions>
              <v-card-actions>
                <router-link to="/login" class="caption">Acesso público</router-link>
              </v-card-actions>
            </v-card>
          </v-flex> 
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "Login",

  data() {
    return {
      requested: false,
      code: null,
      newPass1: '@Bananinha02',
      newPass2: '@Bananinha02',
      loading: false,
      errorMessage: null
    }
  },

  computed: {
    matchingPass() {
      return this.newPass1 === this.newPass2
    }
  },

  methods: {
    sendCode() {
      this.$store.dispatch('cognito/fetchJwtToken')
        .then(jwtData => {
          console.log('====>>>', jwtData)
        })      
    },
    changePass() {
      this.loading = true
      this.errorMessage = null

      const data = {
        username: this.$store.state.cognito.user.username,
        newPassword: this.newPass1
      }
      this.$store.dispatch('cognito/changePassword', data)
        .then((data) => {
          console.log('Data', data)
          this.$router.push('/exames')
        })
        .catch(error => {
          this.errorMessage = error.message
          console.log('Error details', error)
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
};
</script>
