<template>
 <v-app>
   <div>
     <v-card>
       <v-card-title class="text-bold justify-center primary--text">Complete seu cadastro</v-card-title>
       <v-form @submit="submit($event)" v-model="valid">
         <div class="px-4">
           <v-text-field v-model="loginStore.cpf" id="cpf" label="CPF" placeholder=" " name="cpf" type="text" disabled></v-text-field>
           <v-text-field v-model="perfil.nome" id="nome" label="Nome" placeholder=" " name="nome" type="text" :disabled="!loginStore.prosseguir"></v-text-field>
           <v-text-field v-model="perfil.dataNascimento" v-mask="'##/##/####'" id="dataNascimento" label="Data de nascimento" placeholder=" " name="dataNascimento" type="text" :disabled="!loginStore.prosseguir"></v-text-field>
           <v-text-field :rules="basicRule" v-model="perfil.nomeDaMae" id="nomeMae" label="Nome da mãe" placeholder=" " name="nomeMae" type="text"></v-text-field>
           <v-select :rules="basicRule" v-model="perfil.sexo" :items="sexo" label="Sexo"></v-select>
           <v-text-field :rules="basicRule" v-model="perfil.cep" v-mask="'#####-###'" id="cep" label="CEP" placeholder=" " name="cep" type="text"></v-text-field>
           <v-text-field :rules="basicRule" v-model="perfil.telefone" v-mask="['(##) ####-####', '(##) #####-####']" id="Telefone" label="Telefone" placeholder=" " name="telefone" type="text"></v-text-field>
           <v-text-field :rules="basicRule" v-model="perfil.endereco" id="endereco" label="Endereço" placeholder=" " name="endereco" type="text"></v-text-field>
           <v-text-field :rules="basicRule" v-model="perfil.complemento" id="complemento" label="Complemento" placeholder=" " name="complemento" type="text"></v-text-field>
           <v-checkbox :rules="basicRule" v-model="perfil.localizacao" label="Compartilhar minha localização"></v-checkbox>
         </div>

         <v-card-actions class="d-flex justify-end">
           <v-btn type="submit" color="primary" :disabled="!valid" block>Enviar</v-btn>
         </v-card-actions>
       </v-form>
     </v-card>
   </div>
   <AwaitCF v-model="awaitDialog"/>
   <v-dialog v-model="dialog" max-width="290">
     <v-card>
       <v-card-title></v-card-title>
       <v-card-text>
         Criado com sucesso
       </v-card-text>
       <v-card-actions>
         <v-spacer></v-spacer>
         <v-btn color="primary" @click="redirect('/symptoms')">
           Ok
         </v-btn>
       </v-card-actions>
     </v-card>
   </v-dialog>
 </v-app>
</template>

<script>
import {post} from "../utils/request";
import AwaitCF  from "../components/Await"
import {mapState} from "vuex";
const  moment = require('moment')
export default {
  data () {
    return {
      awaitDialog: false,
      dialog:  false,
      valid: true,
      basicRule: [ v => !!v || 'Obrigatório'],
      sexo: [
              {
        text: 'Masculino',
        value: "1",
      },
        {
          text: 'Feminino',
          value: "2"
        }
      ],
      perfil: {
        nome: null,
        dataNascimento: null,
        nomeDaMae: null,
        cpf: null,
        cep: null,
        endereco: null,
        telefone: null,
        operadora: 'S.U.S',
        localizacao: {
          longitude: "0",
          latitude: "0"
        },
        ENUM_PESSOA : ""
      }
    }
  },
  components:{
    AwaitCF
  },
  created() {
    let pacient = this.loginStore.pacient
    if (pacient && !this.loginStore.prosseguir){
      pacient = pacient.result
      moment(pacient)
      this.perfil.nome = pacient.nome_da_pf
      this.perfil.cpf = pacient.numero_de_cpf
      this.perfil.dataNascimento = pacient.data_nascimento
    }
  },
  computed:{
    ...mapState(['loginStore'])
  },
  methods: {
    submit ($event) {
      $event.preventDefault()
      this.awaitDialog = true
      this.perfil.ENUM_PESSOA = "PACIENTE"
      if (this.loginStore.prosseguir){
        this.perfil.cpf = this.loginStore.cpf
      }
      this.perfil.dataNascimento = moment(this.perfil.dataNascimento, "DD/MM/YYYY").format('MM-DD-YYYY')
      post('/pessoa/criar', this.perfil).then((response) => {
        this.awaitDialog = false
        this.dialog = true
        this.$store.dispatch('actionPacient', {created: response.data})
      }).catch(this.awaitDialog = false)
    },
    redirect(view){
      this.$router.push(view)
    }
  }
}
</script>
