<template>
    <div>
        <v-card>
            <div class="pa-4">
              <p>Atendimento via <a href="https://api.whatsapp.com/send?phone=554734815165">WhatsApp</a></p>

              <p>Ligue-Saúde será por meio do telefone <a href="tel:04734815165">047 3481-5165</a>, das 7h às 18h30, de segunda a sexta-feira, com atendimento de médicos.</p>
            </div>

            <v-card-actions class="d-flex justify-end">
                <v-btn color="primary" @click="$router.push('/')">Voltar</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
export default {}
</script>
