<template>
    <v-app>
        <Events/>
    </v-app>
</template>

<script>
    import Events from '../components/Events'

    export default {
        pageTitle: "Lista de sintomas",
        data() {
            return {

            }
        },
        components: {
            Events
        }
    };
</script>