<template>
    <v-app>
        <v-container>
            <v-stepper non-linear v-model="e1">
                <v-stepper-header>
                    <v-stepper-step editable step="1">Informar cpf de paciente</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :editable="editabled" step="2">Histórico de exames Covid</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :editable="editabled" step="3">Anamnese</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :editable="editabled" step="4">Exame</v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                    <!-- passo1      -->
                    <v-stepper-content step="1">
                        <div class="px-4">
                            <v-text-field v-model="perfil.cpf" v-mask="'###.###.###-##'" id="cpf"
                                          label="CPF do paciente"
                                          placeholder=" " name="cpf" type="text"></v-text-field>
                            <v-text-field v-model="perfil.dataDeNascimento" id="dataNascimento"
                                          label="Data de nascimento"
                                          v-mask="'##/##/####'"
                                          name="dataNascimento" type="text"></v-text-field>
                        </div>
                        <v-btn color="primary" @click="searchPatient" block>Pesquisar</v-btn>
                    </v-stepper-content>
                    <!-- passo2       -->
                    <v-stepper-content step="2">
                        <div v-if="loadingCare">Carregando...</div>
                        <template>
                            <div class="mb-3">
                                <span class="text-start">Atendimentos de  {{namePatient || perfilPost.nome}} |
                                    <v-btn small
                                           color="primary"
                                           @click="registerDialog = true">
                                   Registrar sintoma
                                </v-btn>
                            </span>
                            </div>
                            <v-expansion-panels>

                                <v-expansion-panel v-for="(item,i) in care" :key="i">
                                    <template v-if="item.events.type != 'remover'">
                                        <v-expansion-panel-header>{{item.name}} {{item.createdAt}}
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <div>
                                                <template v-if="item.contatoComInfectado">
                                                    <v-chip class="ma-1">
                                                        Possuiu contato com infectado
                                                    </v-chip>
                                                </template>
                                                <template v-if="item.existemNovosSintomasOuPiora">
                                                    <v-chip class="ma-1">
                                                        Possuiu novos sintomas ou piora
                                                    </v-chip>
                                                </template>
                                            </div>
                                            <template v-for="(subitems, index) in item[item.events.type]">
                                                <div :key="index">
                                                    <template v-if="item.events.type == 'sintomasAtendimento'">
                                                        <v-chip class="ma-1">
                                                            {{subitems[item.events.prop].nome}}
                                                        </v-chip>
                                                    </template>
                                                    <template v-if="item.events.type == 'respostaAnamneses'">
                                                        <v-chip class="ma-1">
                                                            {{subitems[item.events.prop].descricaoCurta}}
                                                        </v-chip>
                                                    </template>
                                                    <template v-if="item.events.type == 'exames'">
                                                        <v-chip class="ma-1">
                                                            Pressão: {{subitems.pressao}}
                                                        </v-chip>
                                                        <v-chip class="ma-1">
                                                            Temperatura: {{subitems.temperatura}}
                                                        </v-chip>
                                                        <v-chip class="ma-1">
                                                            Freq. Cardiaca: {{subitems.frequenciaCardiaca}}
                                                        </v-chip>
                                                        <v-chip class="ma-1">
                                                            Oximetria: {{subitems.oximetria}}
                                                        </v-chip>
                                                    </template>
                                                </div>
                                            </template>
                                        </v-expansion-panel-content>
                                    </template>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template>
                    </v-stepper-content>
                    <!-- passo3       -->
                    <v-stepper-content step="3" class="mx-auto">
                        <template v-for="n in checkbox" mt0>
                            <v-checkbox v-model="n.model" :key="n.text" :label="n.descricaoCurta"></v-checkbox>
                        </template>
                        <v-divider></v-divider>
                        <v-checkbox v-model="anamnesis.contatoComInfectado"
                                    label="Possuiu contato com infectado?"></v-checkbox>
                        <v-checkbox v-model="anamnesis.existemSintomasOuPiora"
                                    label="Existem sintomas ou piora?"></v-checkbox>
                        <v-btn color="primary" @click="saveAnamnesis()">Submeter Anamnese</v-btn>
                    </v-stepper-content>
                </v-stepper-items>

                <v-stepper-content step="4">
                    <v-form v-model="valid">
                        <v-container>
                            <v-row>
                                <v-col cols="12" md="3">
                                    <v-select v-model="exame.febre" :items="febre" label="Temperatura"></v-select>
                                </v-col>
                                <v-col cols="12" md="3">
                                    <v-select v-model="exame.fc" :items="fc" label="Frequência cardiaca"></v-select>
                                </v-col>
                                <v-col cols="12" md="3">
                                    <v-select v-model="exame.pas" :items="pas" label=" PA sistólica"></v-select>
                                </v-col>
                                <v-col cols="12" md="3">
                                    <v-select v-model="exame.sao2" :items="sao2" label="SaO²"></v-select>
                                </v-col>
                                <v-col cols="12" md="12">
                                    <v-select v-model="exame.dispineia" :items="dispineia" label="Dispineia"></v-select>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-checkbox v-model="contatoComInfectado"
                                                label="Possuiu contato com infectado?"></v-checkbox>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-checkbox v-model="existemSintomasOuPiora"
                                                label="Existem sintomas ou piora?"></v-checkbox>
                                </v-col>
                            </v-row>
                        </v-container>

                        <v-btn color="primary" @click="exameAction()" block>Submeter Exame</v-btn>
                    </v-form>
                </v-stepper-content>
            </v-stepper>
            <!--fim-->
            <template>
                <v-row justify="center">
                    <v-dialog v-model="dialogEvent" scrollable max-width="300px">
                        <v-card>
                            <v-card-title>{{listDialogEvent.name}}</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text style="height: 300px;">
                                <v-list-item>
                                    <template>
                                        <v-list-item-content>
                                            <v-chip color="red" text-color="white"
                                                    v-for="event in listDialogEvent[typeEvent.type]" :key="event.id">
                                                {{event[typeEvent.prop].nome}}
                                            </v-chip>
                                        </v-list-item-content>
                                    </template>
                                </v-list-item>
                            </v-card-text>
                            <v-card-text>
                                <v-chip v-show="listDialogEvent.contatoComInfectado" color="red" text-color="white">
                                    Possuiu contato com infectado
                                </v-chip>
                            </v-card-text>
                            <v-card-text>
                                <v-chip v-show="listDialogEvent.contatoComInfectado" color="red" text-color="white">
                                    Possuiu contato com infectado
                                </v-chip>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-btn color="blue darken-1" text @click="dialogEvent = false">Fechar</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="openAnamnesis()">Anamnese</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
                <v-row justify="center">
                    <v-dialog v-model="scoreDialog" scrollable max-width="300px">
                        <v-card>
                            <v-card-title>Sugestão</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text style="height: 150px;">
                                <p v-if="score >= 3">Recomendado ir ao hospital. Pontos: ({{score}})</p>
                                <p v-if="score < 3">Recomendado ir para casa e ficar atento para novos sintomas. <br>
                                    Pontos:
                                    ({{score}})</p>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="okScore()">Fechar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </template>
        </v-container>

        <!-- Inicio criar sintoma -->
        <template>
            <v-row justify="center">
                <v-dialog v-model="registerDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-toolbar-title></v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn icon dark @click="closeSymptoms(true)">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-list three-line subheader>
                            <v-subheader>Queixas do paciente</v-subheader>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-form @submit="saveSymptoms($event)">
                                        <div class="px-4">
                                            <template v-for="n in symptomsQuestion">
                                                <v-checkbox v-model="n.model" :key="n.id" :label="n.nome"></v-checkbox>
                                            </template>
                                            <hr>
                                            <template>
                                                <v-checkbox v-model="symptomsPacient.contatoComInfectado"
                                                            label="Possuiu contato com infectado?"></v-checkbox>
                                            </template>
                                            <template>
                                                <v-checkbox v-model="symptomsPacient.existemSintomasOuPiora"
                                                            label="Possui novos sintomas ou piora?"></v-checkbox>
                                            </template>
                                        </div>
                                        <v-card-actions class="d-flex justify-end">
                                            <v-btn type="submit" color="primary" block>SALVAR SINTOMA</v-btn>
                                        </v-card-actions>
                                    </v-form>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-dialog>
            </v-row>
        </template>
        <!-- Fim criar sintoma -->
        <!-- Inicio criar sintoma -->
        <template>
            <v-row justify="center">
                <v-dialog v-model="personDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-toolbar-title></v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn icon dark @click="closePatient()">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-list three-line subheader>
                            <v-subheader>Registrar novo Paciente</v-subheader>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-form ref="criarNovoPaciente" @submit="savePatient($event)" v-model="valid">
                                        <div class="px-4">
                                            <v-text-field v-model="perfilPost.nome" id="nome" label="Nome"
                                                          placeholder=" " name="nome" type="text"
                                                          :disabled="isPermitido"></v-text-field>
                                            <v-text-field v-model="dataDeNascimentoText" v-mask="'##/##/####'"
                                                          id="dataNascimento" label="Data de nascimento" placeholder=" "
                                                          name="dataNascimento" type="text"
                                                          :disabled="isPermitido"></v-text-field>
                                            <v-text-field :rules="basicRule" v-model="perfilPost.nomeDaMae" id="nomeMae"
                                                          label="Nome da mãe" placeholder=" " name="nomeMae"
                                                          type="text"></v-text-field>
                                            <v-select :rules="basicRule" v-model="perfilPost.sexo" :items="sexo"
                                                      label="Sexo"></v-select>
                                            <v-text-field :rules="basicRule" v-model="perfilPost.cep"
                                                          v-mask="'#####-###'" id="cep" label="CEP" placeholder=" "
                                                          name="cep" type="text"></v-text-field>
                                            <v-text-field :rules="basicRule" v-model="perfilPost.telefone"
                                                          v-mask="['(##) ####-####', '(##) #####-####']" id="Telefone"
                                                          label="Telefone" placeholder=" " name="telefone"
                                                          type="text"></v-text-field>
                                            <v-text-field :rules="basicRule" v-model="perfilPost.endereco" id="endereco"
                                                          label="Endereço" placeholder=" " name="endereco"
                                                          type="text"></v-text-field>
                                            <v-text-field :rules="basicRule" v-model="perfilPost.complemento"
                                                          id="complemento" label="Complemento" placeholder=" "
                                                          name="complemento" type="text"></v-text-field>
                                        </div>
                                        <v-card-actions class="d-flex justify-end">
                                            <v-btn type="submit" color="primary" :disabled="!valid" block>SALVAR
                                                PACIENTE
                                            </v-btn>
                                        </v-card-actions>
                                    </v-form>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-dialog>
            </v-row>
        </template>
        <!-- Fim criar sintoma -->
        <AwaitCF v-model="awaitDialog"/>
        <v-row justify="center">
            <v-dialog v-model="cpfErrorDialog" max-width="290">
                <v-card>
                    <v-card-text>
                    </v-card-text>
                    <v-card-text>
                        {{msgCpf}}
                        <template v-if="msgCpf == 'VERIFIQUE O FORMULARIO - DATA OU CPF INVÁLIDO'">
                            Deseja continuar o cadastro mesmo assim?
                            <button class="btn primary white--text" @click="openNewPatient(false)">Clique aqui</button>
                        </template>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary darken-1" text v-if="podeAdicionar"
                               @click="openNewPatient(true)">
                            ADICIONAR
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" text @click="cpfErrorDialog = false">
                            Fechar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {post, get} from "../utils/request"
    import moment from "moment"
    import {mapState} from "vuex"
    import AwaitCF from "../components/Await"
    import cpfHelper from "../helpers/cpf";
    import doencas from "../assets/static/exames"

    const profile = require("../assets/static/person")
    const genere = require("../assets/static/genere")
    export default {
        data() {
            return {
                dataDeNascimentoText: "",
                podeAdicionar: false,
                isPermitido: true,
                basicRule: [v => !!v || 'Obrigatório'],
                sexo: genere,
                perfilPost: profile,
                personDialog: false,
                registerDialog: false,
                notifications: false,
                sound: true,
                widgets: false,
                namePatient: null,
                msgCpf: null,
                cpfErrorDialog: false,
                loadingCare: false,
                cleanCheckBox: [],
                awaitDialog: false,
                scoreDialog: false,
                editabledAna: false,
                editabled: true,
                anamnesis: {},
                checkbox: [],
                other_anamnesis: [],
                edited_other_anamnesis: {
                    text: ""
                },
                contatoComInfectado: false,
                existemSintomasOuPiora: false,
                fc: doencas.fc,
                pas: doencas.pas,
                sao2: doencas.sao2,
                dispineia: doencas.dispineia,
                febre: doencas.febre,
                exame: {},
                typeEvent: {
                    type: null,
                    prop: null
                },
                iterar: 'sintomasAtendimento',
                isCreateExam: false,
                direction: 'left',
                fab: false,
                fling: false,
                hover: false,
                tabs: null,
                top: false,
                right: true,
                bottom: true,
                left: false,
                transition: 'slide-y-reverse-transition',
                item: 0,
                selected: null,
                eventsFake: true,
                observation: "",
                care: [],
                perfil: {
                    id: null,
                    cpf: "",
                    dataDeNascimento: "",
                    data: {}
                },
                valid: true,
                cpf_rules: [
                    v => !!v || "Necessita de CPF",
                    v => (v && v.length == 14) || "CPF é Obrigatório"
                ],
                birth_date_rules: [
                    v => !!v || "Data de nascimento é obrigatória",
                    v => (v && v.length == 10) || "Data de nascimento é obrigatória"
                ],
                e1: 1,
                listDialogEvent: {},
                dialogEvent: false,
                symptomsQuestion: [],
                symptomsPacient: {}
            };
        },
        components: {
            AwaitCF
        },
        mounted() {
            this.getAnamnese()
            this.getSympstomsQuestion()
        },
        computed: {
            ...mapState(['cognito']),
            score() {
                let ponto = 0
                if (this.exame.febre == '< 35' || this.exame.febre == '>= 38 e < 39') {
                    ponto = ponto + 1
                } else if (this.exame.febre == '>= 39') {
                    ponto = ponto + 2
                }
                if (this.exame.fc == '> 100 bmp') {
                    ponto = ponto + 1
                }
                if (this.exame.pas == '> 90 mmHg e < 100 mmHg') {
                    ponto = ponto + 2
                } else if (this.exame.pas == '< 90 mmHg') {
                    ponto = ponto + 3
                }
                if (this.exame.sao2 == '< 95%') {
                    ponto = ponto + 3
                }
                if (this.exame.dispineia == 'Respiração difícil') {
                    ponto = ponto + 3
                }
                return ponto
            }
        },
        methods: {
            closePatient() {
                this.$refs['criarNovoPaciente'].reset()
                this.personDialog = false
                this.perfilPost = {}
                this.perfil = {}
                this.podeAdicionar = false
            },
            openNewPatient(value) {
                this.isPermitido = value
                this.cpfErrorDialog = false
                this.personDialog = true
                this.dataDeNascimentoText  = this.perfil.dataDeNascimento
                this.perfilPost.nome = this.perfil.data.isCpfValid ? this.perfil.data.person.result.nome_da_pf : ' '
                this.perfilPost.cpf = this.perfil.data.isCpfValid ? this.perfil.data.person.result.numero_de_cpf : this.perfil.cpf
            },
            savePatient($event) {
                $event.preventDefault()
                this.podeAdicionar = false;
                this.awaitDialog = true
                this.perfilPost.ENUM_PESSOA = "PACIENTE"
                this.perfilPost.dataNascimento = moment(this.perfil.dataDeNascimento, 'DD/MM/YYYY').format("YYYY-MM-DD")
                post('/pessoa/criar', this.perfilPost).then((response) => {
                    this.awaitDialog = false
                    this.e1 = 2
                    this.personDialog = false
                    this.perfil.id = response.data.id
                    this.searchEvents(response.data.id)
                }).catch(this.awaitDialog = false)
            },
            closeSymptoms(value = false) {
                this.registerDialog = false
                this.symptomsPacient.contatoComInfectado = false
                this.symptomsPacient.existemSintomasOuPiora = false
                if (!value)
                    this.searchPatient()
                this.symptomsQuestion = this.symptomsQuestion.map((remap) => {
                    remap.model = false
                    this.awaitDialog = false
                    return remap
                })
            },
            saveSymptoms($event) {
                $event.preventDefault()
                const pacientId = this.perfil.data.person.id || this.perfil.id;
                this.awaitDialog = true
                const sendSymptoms = this.symptomsQuestion.filter(e => {
                    return e.model
                }).map(map => {
                    return {sintomaId: map.id}
                })
                const send = {
                    "contatoComInfectado": this.symptomsPacient.contatoComInfectado,
                    "existemSintomasOuPiora": this.symptomsPacient.existemSintomasOuPiora,
                    "pessoaAtendidaId": pacientId,
                    "pessoaQueAtendeuId": this.cognito.user.attributes['custom:uuid'],
                    "sintomasAtendimento": sendSymptoms
                }
                this.axios.post('/atendimento/sintomas', send).then(() => {
                    this.awaitDialog = false
                    this.closeSymptoms()
                })
            },
            getSympstomsQuestion() {
                get('/sintomas/perguntas').then(response => {
                    const data = response.data
                    this.symptomsQuestion = data.map((remap) => {
                        remap.model = false
                        this.awaitDialog = false
                        return remap
                    })
                })
            },
            getAnamnese() {
                get('/anamnese/perguntas')
                    .then(response => {
                        const data = response.data
                        this.checkbox = data.map((remap) => {
                            remap.model = false
                            return remap
                        })
                    })
                    .catch(console.error)
            },
            searchPatient() {
                this.care = []
                this.awaitDialog = true
                const cpf = this.perfil.cpf.replace(/[^a-zA-Z0-9 ]/g, "")
                const isValid = cpfHelper.validar(cpf)

                if (!isValid) {
                    this.cpfErrorDialog = true
                    this.awaitDialog = false
                    this.msgCpf = "CPF OU DATA DE NASCIMENTO INVÁLIDA"
                    return;
                }

                post('/paciente', {
                    dataDeNascimento: moment(this.perfil.dataDeNascimento, 'DD/MM/YYYY').format("YYYY-MM-DD"),
                    cpf: cpf
                }).then(response => {
                    if (response.data) {
                        this.awaitDialog = false
                        this.perfil.data = response.data;
                        if (!this.perfil.data.isCpfValid || !this.perfil.data.isCpfValid) {
                            this.cpfErrorDialog = true
                            this.msgCpf = "VERIFIQUE O FORMULARIO - DATA OU CPF INVÁLIDO"
                            return;
                        } else if (!this.perfil.data.isCreated && this.perfil.data.person.status) {
                            this.cpfErrorDialog = true
                            this.msgCpf = "VERIFIQUE O FORMULARIO - Não conseguimos achar em nossa base de dados"
                            this.podeAdicionar = true
                        } else {
                            this.isCreateExam = true
                            this.editabled = true
                            this.namePatient = this.perfil.data.person.nome
                            this.searchEvents(this.perfil.data.person.id)
                            this.e1 = 2
                        }
                    }
                })
            },
            searchEvents(id) {
                this.loadingCare = true
                this.axios.get(`/atendimento/${id}`).then(response => {
                    this.care = response.data.map(
                        newProp => {
                            let name = ""
                            if (newProp.diagnosticos.length > 0) {
                                name = 'Diagnóstico'
                            } else if (newProp.respostaAnamneses.length > 0) {
                                name = 'Resposta Anamnase'
                            } else if (newProp.sintomasAtendimento.length > 0) {
                                name = 'Sintoma Registrado'
                            } else if (newProp.exames.length > 0) {
                                name = 'Exame'
                            }
                            newProp.events = []
                            newProp.name = name
                            newProp.createdAt = moment(newProp.createdAt).format('DD/MM/YYYY')
                            newProp.events = this.openEvent(newProp)
                            return newProp
                        }
                    )
                    this.loadingCare = false
                })
            },
            openEvent(object) {
                if (object.exames.length > 0) {
                    return {
                        type: 'exames',
                        prop: 'pressao'
                    }
                }
                if (object.diagnosticos.length > 0) {
                    return {
                        type: 'diagnosticos',
                        prop: 'diagnosticos'
                    }
                }
                if (object.respostaAnamneses.length > 0) {
                    return {
                        type: 'respostaAnamneses',
                        prop: 'pergunta'
                    }
                }
                if (object.sintomasAtendimento.length > 0) {
                    return {
                        type: 'sintomasAtendimento',
                        prop: 'sintoma'
                    }
                }
                return {
                    type: "remover",
                    prop: "remover"
                }
            },
            openAnamnesis() {
                this.dialogEvent = false
                this.e1 = 3
            },
            saveAnamnesis() {
                this.awaitDialog = true
                const sendSymptoms = this.checkbox.map(map => {
                    return {perguntaDaAnamneseId: map.id, resposta: map.model}
                }).filter(resp => {
                    return resp.resposta
                })
                const sendAnamnesis =
                    {
                        "contatoComInfectado": this.anamnesis.contatoComInfectado,
                        "existemSintomasOuPiora": this.anamnesis.existemSintomasOuPiora,
                        "pessoaAtendidaId": this.perfil.data.person.id,
                        "pessoaQueAtendeuId": this.cognito.user.attributes['custom:uuid'],
                        "respostasAnamneses": sendSymptoms
                    }
                this.axios.post('/atendimento/anamnese', sendAnamnesis).then(() => {
                    this.awaitDialog = false
                    this.e1 = 4
                })
            },
            exameAction() {
                const exame = {
                    "contatoComInfectado": this.contatoComInfectado,
                    "existemSintomasOuPiora": this.existemSintomasOuPiora,
                    "pessoaAtendidaId": this.perfil.data.person.id,
                    "pessoaQueAtendeuId": this.cognito.user.attributes['custom:uuid'],
                    "exame": {
                        "pressao": this.exame.pas,
                        "frequenciaCardiaca": this.exame.fc,
                        "temperatura": this.exame.febre,
                        "oximetria": this.exame.sao2
                    }
                }
                this.awaitDialog = true
                this.axios.post('/atendimento/exame',
                    exame
                ).then(() => {
                    this.awaitDialog = false
                    this.scoreDialog = true
                })
                this.isCreateExam = false
            },
            async okScore() {
                await this.checkbox.map((remap) => {
                    remap.model = false
                    return remap
                })
                this.contatoComInfectado = null
                this.existemSintomasOuPiora = null
                this.perfil = {
                    cpf: "",
                    dataDeNascimento: "",
                    data: {}
                }
                this.exame = {}
                this.scoreDialog = false
                this.editabled = false
                this.e1 = 1
            }
        }
    };
</script>


<style scoped>
    #create .v-speed-dial {
        position: absolute;
    }

    #create .v-btn--floating {
        position: relative;
    }
</style>