<template>
  <div>
    <v-card class="primary--text">
      <v-card-title class="text-bold justify-center">O que você precisa?</v-card-title>
      <v-list class="py-0">
        <v-divider></v-divider>
        <v-list-item @click="$router.push('/contact-phones')">
          <span class="primary--text">
            <b>Telefones</b> para contato
          </span>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="$router.push('/login')">
          <span class="primary--text">
            <b>Registrar</b> minhas queixas
          </span>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="$router.push('/locations')">
          <span class="primary--text">
            Localizar <b>posto de atendimento</b>
          </span>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item href="https://www.joinville.sc.gov.br/coronavirus/" target="_blank">
          <span class="primary--text">
            Dicas e orientações
          </span>
        </v-list-item>
      </v-list>
    </v-card>

    <div class="px-2 py-6">
      <v-btn color="primary" x-large class="text-bold" @click="$router.push('/login')">Dar Entrada</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Inicio',
  components: {
  }
}
</script>
