<template>
    <div>
        <v-card>
            <v-list :two-line="true">
              <v-list-item v-for="(item, index) in data" :key="index" :href="`tel:0${item.telefone.replace(/\D/g, '')}`" class="text-left">
                <v-list-item-content>
                  <v-list-item-title>{{ item.nome }}</v-list-item-title>
                  <v-list-item-subtitle>{{ item.bairro }} - {{ item.telefone }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <v-card-actions class="d-flex justify-end">
                <v-btn color="primary" @click="$router.push('/')">Voltar</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
export default {
  data () {
    return {
      data: [
        { nome: "UPA Leste (Unidade de Pronto Atendimento 24 Horas Leste) ", telefone: "(47) 3489-9800 ", bairro: "Aventureiro" },
        { nome: "Triagem AA Tupy (Central de Triagem AA Tupy)             ", telefone: "(47) 4009-8593 ", bairro: "Boa Vista       ", },
        { nome: "UPA Leste (Unidade de Pronto Atendimento 24 Horas Leste) ", telefone: "(47) 3489-9800 ", bairro: "Aventureiro     ", },
        { nome: "MDV (Maternidade Darci Vargas)                           ", telefone: "(47) 3461-5700 ", bairro: "Anita Garibaldi ", },
        { nome: "PA Norte (Pronto Atendimento Norte)                      ", telefone: "(47) 3419-9150 ", bairro: "Costa e Silva   ", },
        { nome: "PA Norte (Pronto Atendimento Norte)                      ", telefone: "(47) 3419-9150 ", bairro: "Costa e Silva   ", },
        { nome: "HJAF (Hospital Infantil Dr. Jeser Amarante Faria)        ", telefone: "(47) 3145-1600 ", bairro: "América         ", },
        { nome: "CHU (Centro Hospitalar Unimed)                           ", telefone: "(47) 3441-9555 ", bairro: "Centro          ", },
        { nome: "UPA Sul (Unidade de Pronto Atendimento 24 Horas Sul)     ", telefone: "(47) 3466-0055 ", bairro: "Costa e Silva   ", },
        { nome: "HDH (Hospital Dona Helena)                               ", telefone: "(47) 3451-3333 ", bairro: "Centro          ", },
        { nome: "Triagem AA Tupy (Central de Triagem AA Tupy)             ", telefone: "(47) 4009-8593 ", bairro: "Boa Vista       ", },
        { nome: "UPA Sul (Unidade de Pronto Atendimento 24 Horas Sul)     ", telefone: "(47) 3466-0055 ", bairro: "Costa e Silva   ", },
        { nome: "H. Bethesda (Hospital Bethesda)                          ", telefone: "(47) 3121-5400 ", bairro: "Pirabeiraba     ", },
        { nome: "H. Bethesda (Hospital Bethesda)                          ", telefone: "(47) 3121-5400 ", bairro: "Pirabeiraba     ", },
        { nome: "MDV (Maternidade Darci Vargas)                           ", telefone: "(47) 3461-5700 ", bairro: "Anita Garibaldi ", },
        { nome: "HDH (Hospital Dona Helena)                               ", telefone: "(47) 3451-3333 ", bairro: "Centro          ", },
        { nome: "HJAF (Hospital Infantil Dr. Jeser Amarante Faria)        ", telefone: "(47) 3145-1600 ", bairro: "América         ", },
        { nome: "HRHDS (Hospital Regional Hans Dieter Schmidt)            ", telefone: "(47) 3461-5500 ", bairro: "Boa Vista       ", },
        { nome: "CHU (Centro Hospitalar Unimed)                           ", telefone: "(47) 3441-9555 ", bairro: "Centro          ", },
        { nome: "HRHDS (Hospital Regional Hans Dieter Schmidt)            ", telefone: "(47) 3461-5500 ", bairro: "Boa Vista       ", },
      ]
    }
  }
}
</script>

