<template>
    <div>
        <v-card>
            <v-card-title class="justify-center primary--text text-bold">Identificação</v-card-title>
            <div class="pa-4">
                <v-form @submit="submit($event)" v-model="valid" :lazy-validation="lazy">
                    <v-text-field v-model="cpf" v-mask="['###.###.###-##']" id="cpf" label="CPF" placeholder=" "
                                  name="cpf" type="text" required
                                  :rules="cpfRules"
                    ></v-text-field>
                    <v-text-field v-model="birth_date" id="birth_date" label="Data de nascimento" name="birth_date"
                                  type="date" required
                                  :rules="birth_dateRules"
                    ></v-text-field>
                    <v-checkbox v-model="checkbox" label="Concordo com os termos de uso" :rules="[v => !!v || 'Você precisa aceitar os termos de uso.']"></v-checkbox>
                    <div class="text-center">
                        <terms/>
                    </div>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn type="submit" class="primary" block :disabled="!valid">ACESSAR</v-btn>
                    </v-card-actions>
                </v-form>
            </div>
        <router-link to="/team-login" class="caption">Entrar como membro da equipe médica</router-link>
        </v-card>
        <AwaitCF v-model="awaitDialog"/>

        <v-row justify="center">
            <v-dialog v-model="dialogError" max-width="290">
                <v-card>
                    <v-card-text>
                    </v-card-text>
                    <v-card-text>
                        {{msgCpf}}
                        <template v-if="isProsseguir">
                            Infelizmente não achamos seu CPF, mas fique tranquilo, tenha certeza dos seus dados e
                            <button class="btn primary white--text" @click="deixarProsseguir()">Clique aqui</button> para continuar
                        </template>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" text @click="dialogError = false">
                            Fechar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>

    </div>
</template>

<script>
    import terms from '../components/Terms'
    import AwaitCF from '../components/Await'
    import {post} from "../utils/request"
    import cpfHelper from "../helpers/cpf";
    export default {
        name: "Login",
        data() {
            return {
                isProsseguir: false,
                msgCpf: "CPF OU DATA DE NASCIMENTO INVÁLIDA",
                dialogError: false,
                lazy: false,
                checkbox: false,
                valid: true,
                awaitDialog: false,
                birth_date: null,
                birth_dateRules: [
                    v => !!v || 'Você precisa a data de nascimetno',
                    v => (v && v.length == 10) || 'Data de nascimetno inválida',
                ],
                cpf: null,
                cpfRules: [
                    v => !!v || 'Você precisa preencher o cpf',
                    v => (v && v.length == 14) || 'CPF Inválido',
                ],
                parsing: "",
            }
        },
        components: {
            terms,
            AwaitCF
        },
        methods: {
            validate () {
                this.$refs.form.validate()
            },
            deixarProsseguir(){
                console.log(this.cpf)
                this.$store.dispatch('actionCpf', this.cpf)
                this.$store.dispatch('actionProsseguir', true)
                this.$router.push("/purpose")
            },
            submit($event) {
                $event.preventDefault()
                const cpf = this.cpf.replace(/[^a-zA-Z0-9 ]/g, "")
                const isCpfValid = cpfHelper.validar(cpf)
                if (!isCpfValid){
                    this.dialogError = true
                    this.awaitDialog = false
                    this.msgCpf = "CPF OU DATA DE NASCIMENTO INVÁLIDA"
                    return;
                }
                this.awaitDialog = true
                post('/paciente', {
                    "cpf": cpf,
                    "dataDeNascimento": this.birth_date
                }).then(response => {
                    if (response.data) {
                        this.$store.dispatch('setIsCreated', response.data.isCreate)
                        let responsePerson = response.data.person
                        if(!response.data.isCpfValid){
                            this.$store.dispatch('setIsCreated', false)
                            this.isProsseguir = true
                            this.dialogError = true
                            this.awaitDialog = false
                            return;
                        }
                        if (response.data.isCreate){
                            responsePerson = {}
                            responsePerson.created = response.data.person
                        }
                        this.$store.dispatch('actionPacient', responsePerson)

                        this.$router.push('/purpose')
                    }
                    this.awaitDialog = false
                })
            }
        }
    };
</script>
