<template>
    <v-app>
        <div class="text-start">
            <p >
                O software disponível em formato web ou móvel no <a target="_blank" href="http://triagem-covid.com.br/">enderteço</a>
                e também através do endereço
                <a target="_blank" href="https://go.aws/2UycT7T foi disponiblizado">curto</a> para apoiar profissionais de
                saúde nas atividades relacionada a Pandemia de COVID-19. A plataforma auxilia na coleta de dados de pessoas
                suspeitas e na avaliação de casos clínicos. As plataforma oferece indicação de acordo com protocolo definido
                por um médico responsável pela decisão de tratamentos a serem prescritos e encaminhamentos. A plataforma
                apresenta adicionalmente conteúdos complementares relacionados ao COVID-19.
                Os conteúdos adicionais podem ser oferecidos através de ligações de páginas web sobre as quais a plataforma
                não tem domínio ou controle, o conteúdo apresentado refere-se a fontes oficiais e que são responsáveis por
                estes conteúdos.
                Os cadastros, avaliações, anamneses e exames são de responsabilidade dos profissionais e a plataforma
                destina-se apenas a auxiliar no processo.
            </p>
            <p>COVID-19 é uma pandemia em <a target="_blank" href="https://pt.wikipedia.org/wiki/Pandemia_de_COVID-19 ">curso</a>,
                uma doença respiratória aguda causada pelo coronavírus da síndrome respiratória aguda grave 2 (SARS-CoV-2).
                Cuide-se, e lave as mãos com freqüência e obedeça as regras de isolamento enquanto estiverem vigentes e
                determinadas por autoridades de saúde competentes.</p>
            <v-btn color="primary" text @click="$router.push('/login')" block>Voltar</v-btn>

        </div>
    </v-app>
</template>

<script>
    export default {
        name: "MoreTerm"
    }
</script>

<style scoped>

</style>