<template>
  <v-app>
    <v-container fluid>
      <v-layout column>
        <v-card>
          <v-card-text>
            <!-- <v-flex class="mb-4">
              <v-avatar size="96" class="mr-4">
                <img :src="form.avatar" alt="Avatar" />
              </v-avatar>
            </v-flex> -->

            <v-text-field v-model="form.name" label="Nome" disabled></v-text-field>

            <v-list>
              <v-subheader>Menu</v-subheader>
              <v-list-item-group  color="primary">
                <v-list-item v-for="(item, i) in actions" :key="i">
                  <!-- <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                  </v-list-item-icon> -->
                  <v-list-item-content>
                     <v-btn block color="primary">{{item.text}}</v-btn>
                    <!-- <v-list-item-title v-text="item.text"></v-list-item-title> -->
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card-text>
        </v-card>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  pageTitle: "Profile",
  data() {
    return {
      loading: false,
      form: {
        name: "Luiz Almeida Júnior",
        tax_number: "008.717.712-92",
        avatar:
          "https://scontent.fjoi2-1.fna.fbcdn.net/v/t1.0-9/80337739_2064549206980831_6519405483655168000_n.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=w1mKAj3XcZUAX9Sj6HF&_nc_ht=scontent.fjoi2-1.fna&oh=4f8868901a035091f235d6462f8405d5&oe=5EA49490"
      },
      inset: false,
      items: ["default", "vertical"],
      variant: "default",

      actions: [
        {
          icon: "mdi-medical-bag",
          text: "Registrar sintoma"
        },
        {
          icon: "mdi-list-alt",
          text: "Histórico"
        },
        {
          icon: "mdi-list-alt",
          text: "Perfil"
        }
      ]
    };
  }
};
</script>