<template>
    <v-app>
        <Profile/>
    </v-app>
</template>

<script>
    import Profile from '../components/Profile'

    export default {
        pageTitle: "Lista de sintomas",
        data() {
            return {

            }
        },
        components: {
            Profile
        }
    };
</script>