<template>
    <div>
        <v-card>
            <v-card-title class="body-2">
                Já foi atendido em uma unidade de saude com sintomas de COVID-19? 2
            </v-card-title>
            <v-card-text class="text-start">
                    O objetivo da classificação fornecida não é fazer um diagnóstico, mas sim definir uma prioridade clínica
                    e gerar um encaminhamento para atendimento médico.
            </v-card-text>
            <v-card-actions class="d-flex justify-end">
                <v-btn color="primary" @click="jaFuiAtendido()">SIM</v-btn>
                <v-btn color="primary" @click="serAtendido()" :disabled="loginStore.isCreated">NAO</v-btn>
            </v-card-actions>
        </v-card>

        <v-row justify="center">
            <v-dialog v-model="dialog" max-width="290">
                <v-card>
                    <v-card-title class="justify-center">Entre em contato</v-card-title>
                    <v-card-text>
                        <v-spacer></v-spacer>
                        <a href="https://api.whatsapp.com/send?phone=554734815165" class="mt-2">Web saúde WhatsApp</a><br>
                        ou
                        <br>
                        <span>Ligue saúde  +55 47 3481-5165</span>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="primary" block  @click="$router.push('/')">FINALIZAR</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        data(){
            return{
                dialog: false,
                foiAtendido: false
            }
        },
        computed:{
            ...mapState(['loginStore'])
        },
        mounted() {
            if (this.loginStore.isCreated){
                this.mensagemComplementar =  "Você já cadastrou o sintoma."
                this.dialog = true
            }
        },
        methods: {
            serAtendido() {
                if (!this.$store.state.loginStore.isCreated) {
                    this.$router.push('/complete-profile')
                }
            },
            jaFuiAtendido(){
                this.dialog = true
            }
        }
    }
</script>
