<template>
    <v-app>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar color="primary" dark flat>
                                <v-toolbar-title>Registro de Usuário</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>

                            <v-card-text v-if="!requested">
                                <v-form ref="form" v-model="validForm">
                                    <div class="mb-2">
                                        Para criar o seu usuário, informe os dados abaixo:
                                    </div>

                                    <v-text-field label="E-mail" v-model="email"
                                                  :rules="[rules.required, rules.email]"/>
                                    <v-text-field label="Nome" v-model="name" :rules="[rules.required]"/>
                                    <v-text-field v-model="perfil.dataNascimento" id="dataNascimento"
                                                  label="Data de nascimento" placeholder=" " name="dataNascimento"
                                                  type="date"></v-text-field>
                                    <v-text-field :rules="[rules.required]" v-model="perfil.cpf"
                                                  v-mask="'###.###.###-##'" id="cpf"
                                                  label="CPF" placeholder=" " name="cpf"
                                                  type="text"></v-text-field>

                                    <v-text-field :rules="[rules.required]" v-model="perfil.nomeDaMae" id="nomeMae"
                                                  label="Nome da mãe" placeholder=" " name="nomeMae"
                                                  type="text"></v-text-field>
                                    <v-select :rules="[rules.required]" v-model="perfil.sexo" :items="sexo"
                                              label="Sexo"></v-select>
                                    <v-select :rules="[rules.required]" v-model="perfil.ENUM_PESSOA"
                                              :items="tipoUsuario"
                                              label="Tipo de usuário"></v-select>
                                    <v-text-field :rules="[rules.required]" v-model="perfil.cep" v-mask="'#####-###'"
                                                  id="cep"
                                                  label="CEP" placeholder=" " name="cep" type="text"></v-text-field>
                                    <v-text-field :rules="[rules.required]" v-model="perfil.telefone"
                                                  v-mask="['(##) ####-####', '(##) #####-####']" id="Telefone"
                                                  label="Telefone" placeholder=" " name="telefone"
                                                  type="text"></v-text-field>
                                    <v-text-field :rules="[rules.required]" v-model="perfil.endereco" id="endereco"
                                                  label="Endereço" placeholder=" " name="endereco"
                                                  type="text"></v-text-field>
                                    <v-text-field :rules="[rules.required]" v-model="perfil.complemento"
                                                  id="complemento"
                                                  label="Complemento" placeholder=" " name="complemento"
                                                  type="text"></v-text-field>
                                    <v-text-field label="Senha" v-model="pass1" type="password" :rules="[rules.min6]"/>
                                    <v-text-field label="Confirmação" v-model="pass2" type="password"
                                                  :rules="[rules.matchPass]"/>
                                    <v-btn block :disabled="!validForm" :loading="loading" color="primary"
                                           @click="createUser()">
                                        Criar Usuário
                                    </v-btn>
                                </v-form>
                            </v-card-text>

                            <v-card-text v-if="requested">
                                <span>Informe abaixo o código que você recebeu no seu email: </span>
                                <v-form>
                                    <v-text-field v-model="confirmationCode"
                                                  label="Código de Confirmação"></v-text-field>
                                </v-form>
                                <div class="red--text caption" v-if="errorMessage" v-text="errorMessage"/>
                            </v-card-text>
                            <v-card-actions v-if="requested">
                                <v-spacer></v-spacer>
                                <v-btn color="primary" :loading="loading" block @click="confirmCode()">Confirme Código
                                </v-btn>
                            </v-card-actions>
                            <v-card-actions>
                                <router-link to="/login" class="caption">Acesso público</router-link>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import {post} from "../utils/request";
    import moment from 'moment'

    export default {
        name: "Login",

        data() {
            return {
                perfil: {
                    nome: null,
                    dataNascimento: null,
                    nomeDaMae: null,
                    cpf: null,
                    cep: null,
                    endereco: null,
                    telefone: null,
                    operadora: 'Sul américa',
                    localizacao: {
                        longitude: "0",
                        latitude: "0"
                    },
                    ENUM_PESSOA: ""
                },
                name: '',
                email: '',
                requested: false,
                code: null,
                pass1: '',
                pass2: '',
                confirmationCode: '',
                loading: false,
                errorMessage: null,
                creationInfo: null,
                sexo: [{
                    text: 'Masculino',
                    value: "1",
                },
                    {
                        text: 'Feminino',
                        value: "2"
                    }
                ],
                tipo: null,
                tipoUsuario: [
                    {
                        text: "Médico",
                        value: "MEDICO",
                    },
                    {
                        text: "Atendente",
                        value: "ATENDENTE"
                    },

                    {
                        text: "Supervisor Médico",
                        value: "SUPERVISOR"
                    }
                ],

                validForm: false,
                rules: {
                    min6: value => value.length >= 6 || 'Senha deve ter no mínimo 6 caracteres',
                    matchPass: value => value === this.pass1 || 'Senha e confirmação deve ser iguais',
                    required: value => !!value || 'Campo obrigatório',
                    email: value => value.indexOf('@') > 0 || 'Informe um email válido' // todo: trocar por regex
                }
            }
        },

        methods: {
            createUser() {
                this.loading = true
                this.errorMessage = null

                const data = {
                    username: this.email,
                    attributes: {
                        email: this.email
                    },
                    password: this.pass1,
                }

                this.perfil.nome = this.name
                this.perfil.dataNascimento = moment(this.perfil.dataNascimento, "YYYY-MM-DD").format('MM-DD-YYYY')
                this.perfil.cpf = this.perfil.cpf.replace(/[^a-zA-Z0-9 ]/g, "")
                post('/pessoa/criar', this.perfil).then((res) => {
                    data.attributes['custom:uuid'] = res.data.id
                    console.log(res.data.id)
                    this.$store.dispatch('cognito/registerUser', data)
                        .then((data) => {
                            this.requested = true
                            this.creationInfo = data
                        })
                        .catch(error => {
                            this.errorMessage = error.message
                            console.log('Error details', error)
                        })
                        .finally(() => {
                            this.loading = false
                        })
                })
            },

            confirmCode() {
                this.loading = true

                const data = {
                    username: this.creationInfo.user.username,
                    code: this.confirmationCode
                }

                this.$store.dispatch('cognito/confirmUser', data)
                    .then((data) => {
                        console.log('Usuario Confirmado...', data)
                        this.$router.push(`/team-login?email=${this.email}`)
                    })
                    .catch(error => {
                        this.errorMessage = error.message
                        console.log('Error details', error)
                    })
                    .finally(() => {
                        this.loading = false
                    })

            }
        }
    };
</script>
