<template>
    <div>
        <v-card>
            <v-list three-line>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Dr. Luiz Henrique Melo</v-list-item-title>
                        <v-list-item-subtitle>Clínico Geral Joinville, Infectologista Joinville</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <v-list>
                <v-subheader>Pessoas Jurídicas</v-subheader>
                <v-list-item v-for="(item, index) in pessoasJuridicas" :key="index" class="text-left">
                    <v-list-item-content>
                        <v-list-item-title>{{ item.nome }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <v-list>
                <v-subheader>Pessoas Físicas</v-subheader>
                <v-list-item v-for="(item, index) in pessoasFisicas" :key="index" class="text-left">
                    <v-list-item-content>
                        <v-list-item-title>{{ item.nome }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <v-card-actions class="d-flex justify-end">
                <v-btn color="primary" @click="$router.push('/')" block>Voltar</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pessoasJuridicas: [
                    {nome: "Eng. Software - Católica SC"},
                    {nome: "GATI labs."},
                    {nome: "HunterCo"},
                    {nome: "Hub do Desenvolvedor"},
                    {nome: "Jornada Educação e Tecnologia"},
                    {nome: "JAMS Informática Ltda"},
                    {nome: "Neogrid Datacenter"},
                    {nome: "Protoduzindo"}
                ],
                pessoasFisicas: [
                    {nome: "Lucas Maciel Cordeiro"},
                    {nome: "Sergio Migueis"},
                    {nome: "Manfred Heil Junior"},
                ]
            }
        }
    }
</script>
