<template>
  <v-app>
    <v-card v-if="checkbox.length > 0">
      <v-card-title class="text-bold justify-center primary--text">Minhas queixas</v-card-title>
      <v-form @submit="submit($event)">
        <div class="px-4">
          <template v-for="n in checkbox">
            <v-checkbox v-model="n.model" :key="n.id" :label="n.nome"></v-checkbox>
          </template>
          <hr>
          <template>
            <v-checkbox v-model="contatoComInfectado"  label="Possuiu contato com infectado?"></v-checkbox>
          </template>
        </div>
        <v-card-actions class="d-flex justify-end">
          <v-btn type="submit" color="primary" block>Enviar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>

    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="justify-center"></v-card-title>
        <v-card-text>
          <p class="subtitle-3">Dirija-se para o</p>
          <p class="body-2">Centro de Triagem de Joinville</p>
          <span class="body-2 font-weight-black" mb-5>No Ginásio da Associação Atlética Tupy Bairro  Boa-Vista</span>
          <v-spacer></v-spacer>
          <a href="https://www.joinville.sc.gov.br/servicos/obter-atendimento-em-saude-em-caso-de-suspeita-de-coronavirus/">Outros locais</a>
          <br>
          <a href="https://api.whatsapp.com/send?phone=554734815165" class="mt-2">Web saúde</a><br>
          <span>Ligue saúde  +55 47 3481-5165</span>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary" block  @click="redirect('profile')">FINALIZAR</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <AwaitCF v-model="awaitDialog"/>
  </v-app>
</template>

<script>
import { get, post } from '../utils/request'
import AwaitCF from '../components/Await'
import {mapState} from 'vuex'
export default {
  data () {
    return {
      pacientId: null,
      dialog: false,
      awaitDialog: false,
      contatoComInfectado: false,
      existemSintomasOuPiora: true,
      checkbox: [],
    }
  },
  components:{
    AwaitCF
  },

  mounted() {
    this.awaitDialog = true
    get('/sintomas/perguntas').then(response => {
      const data = response.data
      this.checkbox = data.map((remap)=>{
        remap.model = false
        this.awaitDialog = false
        return remap
      })
    })
  },
  computed:{
    ...mapState(['loginStore'])
  },
  methods: {
    submit ($event) {
      $event.preventDefault()
      this.pacientId =  this.loginStore.pacient.created.id;
      this.awaitDialog = true
      const sendSymptoms = this.checkbox.filter(e =>  {
        return e.model
      }).map(map =>{
        return {sintomaId: map.id}
      })
      const send = {
        "contatoComInfectado": this.contatoComInfectado,
        "existemSintomasOuPiora": this.existemSintomasOuPiora,
        "pessoaAtendidaId": this.pacientId,
        "sintomasAtendimento": sendSymptoms
      }
      post('/paciente/sintomas', send).then(() => {
        this.awaitDialog = false
        this.dialog = true
      })

    },
    redirect(){
      this.$router.push('/')
    }
  }

}
</script>
