<template>
    <div>
        <v-card class="elevation-12">
            <v-card-title class="justify-center primary--text text-bold">Acesso Equipe Médica</v-card-title>
            <v-card-text>
                <v-form>
                    <v-text-field v-model="username" label="Usuário" type="email"></v-text-field>
                    <v-text-field v-model="password" label="Senha" type="password"></v-text-field>
                </v-form>
                <div class="red--text caption" v-if="errorMessage" v-text="errorMessage"/>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" :loading="loading" block @click="doLogin()">ENTRAR</v-btn>
            </v-card-actions>
            <v-card-actions class="d-block text-left">
                <div>
                    <router-link to="/login" class="caption">Acesso público</router-link>
                </div>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "Login",

        data() {
            return {
                username: '',
                password: '',
                loading: false,
                errorMessage: null
            }
        },

        mounted() {
            if (this.$route.query.email)
                this.username = this.$route.query.email
        },

        methods: {
            doLogin() {
                const credentials = {
                    username: this.username,
                    password: this.password
                }
                this.loading = true
                this.errorMessage = null
                this.$store.dispatch('cognito/signInUser', credentials)
                    .then((data) => {
                        if (data.challengeName && data.challengeName === 'NEW_PASSWORD_REQUIRED')
                            this.$router.push('/change-password')
                        else
                            this.$router.push('/exames')
                    })
                    .catch(error => {
                        this.errorMessage = error.message
                        console.log('Error details', error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        }
    };
</script>
