<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-text>
				</v-card-text>
				<v-card-text>
					{{mensagem}}
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="red darken-1" text @click="dialog = false">
						Fechar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-row>
</template>
<script>
  export default {
    data () {
      return {
       dialog: false
      }
	},
	props: {
		value: {
			type: Boolean,
			default: false
		},
		mensagem: {
			type: String
		}
		
	},
	watch: {
		value(v){
			if (v != this.dialog){
				this.dialog = v;
			}
		},
		dialog(d){
			if (d != this.value){
				this.$emit('update', d);
			}
		}
	}
  }
</script>
