<template>
    <v-row justify="center">
        <v-dialog v-model="awaitDialog" hide-overlay persistent width="300">
            <v-card color="primary" dark>
                <v-card-text>
                    Aguarde
                    <v-progress-linear
                            indeterminate
                            color="white"
                            class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                awaitDialog: false
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            },
            mensagem: {
                type: String
            },
            type_button: {
                type: String
            }

        },
        watch: {
            value(v) {
                if (v != this.awaitDialog) {
                    this.awaitDialog = v;
                }
            },
            awaitDialog(d) {
                if (d != this.value) {
                    console.log('watch awaitDialog')
                    this.$emit('update', d);
                }
            }
        }
    }
</script>
