<template>
        <v-container fluid>
            <v-layout column>
                <v-timeline>
                    <v-timeline-item v-for="(exam, i) in exams" :key="i" :color=" exam.color + ' lighten-2'">
                        <v-card>
                            <v-card-title class="caption">{{exam.date_time}}</v-card-title>
                            <v-card-text>{{exam.profissional_text}}</v-card-text>
                        </v-card>
                    </v-timeline-item>
                </v-timeline>
            </v-layout>
        </v-container>
</template>

<script>
    export default {
        pageTitle: "Lista de sintomas",
        data() {
            return {
                exams: [
                    {
                        date_time: "27/03/2020",
                        profissional_text:
                            "Texto",
                        is_infected: false,
                        color: 'blue'
                    }
                ]
            };
        }
    };
</script>