<template>
  <v-container fluid>
    <v-layout column>
      <v-list two-line>
        <v-list-item-group v-model="selected" active-class="primary--text">
          <template v-for="(item, index) in items">
            <v-list-item :key="item.action">
              <template>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title"></v-list-item-title>
                  <v-list-item-subtitle
                    class="text--primary"
                    v-text="item.headline"
                  ></v-list-item-subtitle>
                  <v-list-item-subtitle
                    v-text="item.subtitle"
                  ></v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text
                    v-text="item.action"
                  ></v-list-item-action-text>
                </v-list-item-action>
              </template>
            </v-list-item>
            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
          </template>
        </v-list-item-group>
      </v-list>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    selected: [],
    items: [
      {
        action: "15 min",
        headline: "008.717.712.92",
        title: "Luiz Almeida Júnior",
        subtitle: "Sem análise"
      },
      {
        action: "35 min",
        headline: "008.717.712.92",
        title: "Luiz Almeida Júnior",
        subtitle: "Sem análise"
      }
    ]
  })
};
</script>
