<template>
 <v-container fluid>
      <v-divider class="mx-5 mb-0"></v-divider>
    <v-layout column>
      <v-card flat>
          <v-card-text>
  
            <p class="text-start">
              O Objetivo da classificação fornecida não é fazer um diagnóstivco, mas sim definir uma prioridade clínica para atendimento mético.
            </p>
         
          </v-card-text>
        </v-card>
      
    </v-layout>
      <v-divider class="mx-5"></v-divider>
  </v-container>
</template>
