<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="mb-12">
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field v-model="name"  label="Nome" placeholder=" " readonly></v-text-field>
                  <v-text-field v-model="email" label="E-mail" placeholder=" "></v-text-field>
                  <v-text-field v-mask="['(##) ####-####', '(##) #####-####']" v-model="mobile_fone"  label="Telefone" placeholder=" "></v-text-field>

                  <v-select
                          v-model="select"
                          :items="genere"
                          :rules="[v => !!v || 'Sexo é necessário']"
                          label="Sexo"
                          placeholder=" "
                          required
                  ></v-select>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    valid: true,
    mobile_fone:  "",
    name: "",
    email: "",
    select: null,
    genere: [{
      text: 'Masculino',
      value: "1"
    },
      {
        text: 'Feminino',
        value: "2"
      }
    ]
  }),
  created() {
    const pacient = this.$store.state.pacient.created
    console.log(pacient)
    this.name = pacient.nome
    this.mobile_fone = pacient.telefone
    this.select = this.genere.filter(c => {return c.value == pacient.sexo})[0]
  },
  methods: {
  }
};
</script>