<template>
  <v-container fluid>
    <objetive />
    <v-layout column>
      <v-card>
        <v-card-title class="headline">{{info}}</v-card-title>
        <v-divider class="mx-4"></v-divider>
        <v-card-text>
          <v-form ref="form" lazy-validation>
            <template v-for="n in checkbox">
              <v-checkbox v-model="n.model" :key="n.id" :label="n.descricaoCurta"></v-checkbox>
            </template>
            <v-container>
              <v-row>
                <v-col>
                  <v-textarea v-model="observation" label="Observações" placeholder=" " counter="255"></v-textarea>
                </v-col>
              </v-row>
            </v-container>
            <v-btn class="primary"  block @click="enviar">Enviar</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-layout>
    <alert mensagem="Queixas Salvas com sucesso" type_button="Fechar" color="primary" v-model="alerta" />
  </v-container>
</template>

<script>
import objetive from './Objetive'
import alert from './Alert'
import { get } from '../utils/request'

export default {
  data: () => ({
    alerta: false,
    observation: "",
    checkbox: [],
    info: null
  }),
  components:{
    objetive,
    alert
  },
  methods: {
    enviar() {
      this.$refs.form.reset();
      this.alerta = true;
    }
  },
  mounted() {
    get('/anamnese/perguntas').then(response => {
      const data = response.data
      this.checkbox = data.map((remap)=>{
        remap.model = false
        return remap
      })
    }
    )
  }
};
</script>
