<template>
    <div>
        <v-dialog v-model="dialog">
            <template v-slot:activator="{ on }">
                <a color="primary" dark v-on="on">Termo de uso</a>
            </template>

            <v-card>
                <v-card-title class="justify-center">
                    Termo de uso
                </v-card-title>

                <v-card-text class="text-start">
                    <p>Ao aceitar o presente termo, você declara entender que os dados serão usados para melhorar o combate ao COVID-19.
                        Leia os termos completos <a @click="$router.push('/terms')">aqui</a>.</p>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="dialog = false">Voltar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
            }
        },
    }
</script>
