<template>
  <div id="app">
    <v-app>
      <div class="d-flex flex-column h-full">
        <div class="pa-2 text-center">
          <h2>Joinville</h2>
          <span>ação COVID-19</span>
        </div>

        <div class="pa-2 flex-grow-1 overflow-auto">
          <router-view />
        </div>

        <div class="text-center">
          <v-btn block text @click="$router.push('/about')">
            Patrocinadores
          </v-btn>
        </div>
      </div>
    </v-app>
  </div>
</template>

<script>

export default {
  methods: {
    logout() {
      this.$store.dispatch('cognito/signOut')
        .then(() => {
          this.$router.push('/login')
        })
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  background: #eee;
  color: #000;
  height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
